<mat-card>
  <h2 mat-subheader class="pb-0 mb-0">Projects List</h2>
  <mat-list class="pt-0">
    <mat-list-item *ngFor="let project of projects" class="mat-list-option" (click)="selected.emit(project)">
      <h4 matLine>{{ project.title }}</h4>
      <span matLine>{{ project.details }}</span>
      <button
        mat-icon-button
        color="warn"
        type="button"
        (click)="deleted.emit(project); $event.stopImmediatePropagation();">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
